/*mobila enheter och allmän styling________________________________________________________*/
.desktop-table-of-content {
    /*Här gömns innehållsförteckningen som visas på större skärmar*/
    display: none;
}

main {
    /*Den här klassen styr artikell huvudinnehållet*/
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

.mainContent {
    /*Den här klassen styr layouten för både sidebaren och main innehållet.
    På större skärmar byter klassen riktning på flex-direction för att lägga
    sidbaren och main innehållet bredvid varandra*/
    gap: var(--gap-m);
    margin-top: var(--margin-s);
    color: var(--grey-900);
}

.mainContent p,
.mainContent a,
.mainContent h2,
.mainContent h3,
.mainContent h4 {
    color: var(--grey-900);
}

/*Mobil innehållsförtekning_______________________________________________________*/
.mobile-table-of-content,
.mobile-table-of-content>div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

/*Sektion 1________________________________________________________________________*/
.summary {
    background-color: var(--primary-50);
    padding: var(--padding-xs);
    border-left: 5px solid var(--primary-550);
}

.section-gap {
    /*Klassen styr hur mycket avstånd det ska vara mellan de olika stycken inom sektionerna*/
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);

    scroll-margin-top: 10rem;
}

/*Artikel bild mall ____________________________________________________________*/
.article-img-container img {
    width: 100%;
    object-fit: cover;
    max-height: 80vh;
}

.article-img-container p {
    border-left: solid 3px var(--primary-550);
    padding-left: 1rem;
    margin-top: 1rem;
    color: var(--grey-700);
}

/*Sidebar_______________________________________________________________________*/
aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

aside>:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

/*Related topics_______________________________________________________________*/
.related-topics {
    padding: var(--padding-s) 0;
    border-top: 1px solid var(--grey-400);
    border-bottom: 1px solid var(--grey-400);

    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

/*You may also like*/
.article-you-may-also-like {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

/*Laptops and Desktops_________________________________________________________*/
@media screen and (min-width: 768px) {

    /*Här anpassas innehållet förstörre skärmar. Detta kommer längst ner
    för att följa mobilefirst konceptet*/

    .mainContent {
        margin-bottom: 7rem;
    }

}

/*Monitors, Desktops_________________________________________________________*/
@media screen and (min-width: 1200px) {
    .mobile-table-of-content {
        /*Här göms mobil innehållsförteckning*/
        display: none;
    }

    .mainContent {
        /*anledningen till att breakpointen är här för sidebaren, är för att öka 
        läsbarheten genom att låta brödtexten ta upp mer plats på mindre skärmar*/
        flex-direction: row;
    }

    main {
        flex: 2;
    }

    aside {
        flex: 1;

        position: sticky;
        top: 10rem;
        height: fit-content;
    }

    .desktop-table-of-content,
    .desktop-table-of-content>div {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
    }

}