/*Återkommande element - knappar_________________________________________________________*/
.btn {
    /*Alla knappar utgår från dessa värden*/
    height: fit-content;
    padding: var(--btn-padding);

    border: none;
    transition: var(--transition-fast);

    /*För ikoner inutti knappar*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xs);

    font-family: 'Montserrat';

    cursor: pointer;
}

/*Primary*/
.primary-btn {
    background-color: var(--primary-500);
    color: var(--grey-900);
}

.primary-btn:hover {
    background-color: var(--primary-600);
    color: var(--grey-50);
}

/*Secondary*/
.secondary-btn {
    background-color: transparent;
}

/*Outlined*/
.outlined-btn {
    border: var(--border-outlined);
    background-color: transparent;
}

.outlined-btn:hover {
    background-color: var(--grey-900);
}

/*Disabled*/
.disabled {
    background-color: var(--grey-300);
    color: var(--grey-700);
}

/*Knapp ikoner*/
.btn-icon-hover {
    /* Döljer hover ikonen som default */
    display: none;
    fill: var(--grey-700);
}

.btn:hover .btn-icon-default {
    /* Döljer default ikonen när man hovrar */
    display: none;
}

.btn:hover .btn-icon-hover {
    /* Visar hover ikonen istället */
    display: block;
}

/*Återkommande element - kort__________________________________________________________*/

/*Containers*/
.cards-container {
    /*För en gallery vy med flera kort på samma rad*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap-xs);
}

.card-outlined {
    border: 1px solid var(--grey-400);
}

.cards-container-bentoGrid {
    /*På större skärmar byts layouten ut för hur korten lägger sig*/
    display: grid;
    grid-template-columns: auto repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1.2fr 1fr;
    gap: var(--gap-xs);
}

/*Card V1 och V2*/
.card-V1,
.card-V2 {
    background-color: var(--grey-50);
}

.card-V1,
.card-V2 {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-V1-img-wrapper,
.card-V2-img-wrapper {
    flex: 2;
    position: relative;
    overflow: hidden;
}

.card-V1-content,
.card-V2-content {
    padding: var(--padding-xs);
    /* max-height: 7rem; */

    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    justify-content: space-between;
}

.card-V1-content h3,
.card-V2-content h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: var(--font-step-1);
    color: var(--grey-900);
}

.card-V1-content span,
.card-V2-content span,
.card-V1-content .icon {
    color: var(--grey-700);
}

/*Card V3*/
.card-V3 {
    padding: var(--padding-xs);
    color: var(--grey-50);

    /* Skapar en "referenspunkt" för absolut positionerade barn element*/
    position: relative;
    overflow: hidden;
}

.card-V3 img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-V3 p {
    display: none;
}

.card-V3-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: var(--padding-xs);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap-xs);

    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

/*Kort hover effekt*/
.card-V1:hover,
.card-V2:hover,
.card-V3:hover,
.card-outlined:hover {
    transition: var(--transition-fast);
}

.card-V1 img,
.card-V2 img,
.card-V3 img,
.card-outlined img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-fast);

    /*Den här delen av koden tar bort whitespcace under 
    bilder. En källa påstår att det här händer pga att
    "The gap under images in HTML often occurs due to default 
    inline or inline-block display properties, which align 
    images along the text baseline, leaving extra space as 
    if accommodating text descenders."*/
    display: block;
    /* vertical-align: bottom; */
}

.card-V1:hover img,
.card-V2:hover img,
.card-V3:hover img {
    /*Väljer img elementet när användaren hovrar över kortet*/
    transform: scale(1.1);
}

/*Återkommande element - Modal________________________________________________*/

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
}

.modal-wrapper.show {
    display: block;
    display: flex;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: 10rem;

    background-color: var(--grey-50);
    padding: var(--padding-xs);
    width: fit-content;

    height: fit-content;
    width: 20rem;
}

.modal-content h2 {
    color: var(--grey-900);
}

.modal-content div {
    display: flex;
    justify-content: space-between;
}

#modal-btn-close {
    width: fit-content;
}

/*Återkommande element - input fields_______________________________________________*/
.input-field-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

/*Search*/
.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border: var(--border-outlined);
}


.search:focus-within {
    /*När någonting inom search får fokus*/
    border: 1px solid var(--grey-300);
    color: var(--grey-300);
}

.search>span {
    color: var(--grey-600);
}

/*Återkommande element - Chip_______________________________________________*/
.chip-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    flex-wrap: wrap;
}

.chip {
    display: inline-block;
    border: 1px solid var(--grey-400);
    padding: 0.3rem 1rem;
    transition: var(--transition-fast);

    font-size: var(--font-step--1);

    z-index: 2;
    /* Ligger ovanför hero-länkens overlay (z-index: 1) för att vara klickbara */
}

.chip:hover {
    border: 1px solid var(--grey-300);
    background-color: var(--grey-300);
    color: var(--grey-900);
}

.chip-v2 {
    position: absolute;
    top: 0;
    margin: var(--margin-xs);
    padding: 0.5rem 1rem;

    border-radius: var(--border-radius-s);
    font-size: 12px;
    color: var(--grey-50);
    background-color: rgba(0, 0, 0, 0.551);
    backdrop-filter: blur(10px);

}

/*Ikoner - sociala medier___________________________________________________________*/
.socialMedia-icons {
    font-size: var(--icon-size);
    color: var(--grey-400);
    width: fit-content;
    height: fit-content;
}

.socialMedia-icons:hover {
    color: var(--grey-200);
    transition: var(--transition-fast);
}

/*Layout_____________________________________________________________________________*/

/*Hero section*/
.section-hero {
    /* Skapar en "referenspunkt" för absolut positionerade barn element*/
    position: relative;
    overflow: hidden;

    height: 100vh;
}

.section-hero img {
    width: 100%;
    height: 100%;

    /* Om bildens proportioner inte matchar behållarens proportioner kommer delar av bilden att beskäras bort,
    men bilden blir aldrig förvräng eller sträckt */
    object-fit: cover;
}

.section-hero h1 a {
    /* Länkar kan överskriva rubrikens storlek och utseende.
       inherit säkerställer att länken ser ut som sin förälder <h1> */

    /* Ärver ALL font-styling från föräldern */
    font: inherit;
}

.section-hero h1 a::after {
    /*Gör hela hero-sectionen klickbar via pseudo-elementet ::after*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.section-hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--gap-s);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.59) 0%, rgba(0, 0, 0, 0) 100%);

    color: var(--grey-50);
    padding: 5rem var(--padding-xs);
}

.section-hero p {
    display: none;
}


/*Sektion komponenter*/
.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;

    gap: 2rem;
}

/*Flexbox*/
.flex-row {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-space-between {
    justify-content: space-between;
}

/*Gap*/
.gap-xxs {
    gap: var(--gap-xxs);
}

.gap-xs {
    gap: var(--gap-xs);
}

.gap-s {
    gap: var(--gap-s);
}

.gap-m {
    gap: var(--gap-m);
}

/*Padding*/
#padding-none {
    padding: 0;
}

/*Färger_____________________________________________________________________________*/
.color-grey-50 {
    color: var(--grey-50);
}

/*Media queries________________________________________________________________________*/
@media screen and (min-width: 768px) {

    .card-V1-content,
    .card-V2-content {
        flex: 1;
    }

    .cards-container-bentoGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "item1 item1"
            "item2 item3"
            "item4 item5";

        gap: var(--gap-xs);
    }

    .card-V3 {
        grid-area: item1;
    }

    .card-V3 p {
        display: flex;
    }

}

@media screen and (min-width: 1200px) {
    .section-hero-content {
        /* Responsiv padding som centrerar innehållet:
        - Beräkningen calc(50vw - 720px) centrerar innehållet genom en dynamisk padding
        - Calc skapar dynamisk padding genom att ta halva skärmens bredd och subtrahera 720px
        - max() funktionen säkerställer att paddingen aldrig blir mindre än 2rem eftersom
        max() tar alltid det större värdet av de alternativen som finns*/

        padding-left: max(2rem, calc(50vw - 720px));
        padding-right: max(2rem, calc(50vw - 720px));
    }

    .card-V2 {
        flex-direction: row;
        height: 10rem;
    }

    .card-V2-img-wrapper {
        flex: 1;
    }

    .card-V2-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card-V2-content>div {
        display: none;
    }

    .card-V2-content h3 {
        /*Kappar av all text somkommer efter rad 2*/
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cards-container-bentoGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "item1 item1 item2"
            "item3 item4 item5";

    }

    .card-V3 {
        grid-area: item1;
    }
}