/*Latest in space_____________________________________________________________________________*/
.latest-in-space {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.latest-in-space>div>button {
    display: none;
}

/*Mixed news__________________________________________________________________________________*/
.mixed-news {
    background-color: var(--grey-850);
}

/*media queries ________________________________________________________________*/
@media screen and (min-width: 768px) {
    .latest-in-space>div>button {
        display: flex;
    }

    .latest-in-space>button {
        display: none;
    }
}