/*Navigation - mobila enheter_________________________________________________________*/

/*Laddar in navigationen för mobila enheter först. Följer mobile first konceptet*/
.desktop-nav {
    display: none;
}

.desktop-nav-toggle {
    /*Döljer checkboxen*/
    display: none;
}

.desktop-nav-links {
    display: none;
}

.mobile-nav {
    /*Flexbox behövs här eftersom ett av barn elementen använder sig av
    margin-top: auto och då behövs både flexbox i kombination med height: 100vh
    enligt flera källor*/
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: var(--grey-990);
    position: fixed;
    width: 100%;
    top: 0%;

    /*Z-index 3 eftersom hero-sectionerna använder z-index 1 och 2 i sin styling*/
    z-index: 3;
}

.mobile-nav> :first-child {
    display: flex;
    align-items: center;
}

.mobile-nav li {
    padding: 1rem 0rem;
}

.mobile-nav-top {
    border-bottom: 1px solid var(--grey-990);
}

.mobile-nav-top svg {
    padding: var(--padding-xxs);
}

.mobile-nav-top>a {
    margin-right: auto;

    display: flex;
    align-items: center;
}

.mobile-nav-links,
.mobile-nav-btn {
    padding: var(--padding-xs);
}

.mobile-nav-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gap-xs);
    margin-top: auto;
}

.mobile-nav-links summary {
    /*Här skrivs över stylingen som sätts i filen generalStyles.CSS*/
    border-bottom: 1px solid var(--grey-800);
}

.mobile-nav-links details[open] {
    /*Här skrivs över stylingen som sätts i filen generalStyles.CSS*/
    border-bottom: 1px solid var(--grey-800);
}

.mobile-nav.menu-open {
    /*När menyn är öppen då sätts höjden till 100vh*/
    height: 100vh;
    overflow: scroll;
}

/* Dölja element */
.mobile-nav-links.hidden,
.mobile-nav-btn.hidden {
    display: none;
}

/*Navigation - Laptops_________________________________________________________*/
@media screen and (min-width: 481px) {
    .mobile-nav-top svg {
        padding: 1.7rem;
    }
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        /*Döljer navigationen för mobila enhter*/
        display: none;
    }

    .desktop-nav {
        /* Gör desktop navigationen synlig för större enheter */
        display: block;
        position: fixed;
        width: 100%;
        top: 0%;
        /*här används z-index för att överlappa sticky sidebaren*/
        z-index: 3;
    }

    .dekstop-nav-top {
        display: flex;
        padding-left: calc(50vw - 720px);
        padding-right: calc(50vw - 720px);

        background-color: var(--grey-990);
    }

    .dekstop-nav-top>a {
        padding: var(--desktop-nav-top-padding);
        margin-right: auto;

        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .dekstop-nav-top>div {
        display: flex;
        gap: var(--gap-xs);
        padding: var(--desktop-nav-top-padding);
    }

    .dekstop-nav-top button {
        border-radius: 0;
    }

    .dekstop-nav-bottom {
        display: flex;
        justify-content: end;
        align-items: center;
        background-color: var(--grey-950);
        border-bottom: 1px solid var(--grey-990);
        padding-left: calc(50vw - 720px);
        padding-right: calc(50vw - 720px);
    }

    .dekstop-nav-bottom ul {
        display: flex;
    }

    .dekstop-nav-bottom>form {
        padding-right: var(--padding-xs);
    }

    .dekstop-nav-ham-menu-links ul {
        padding: 2rem 0;
    }

    .dekstop-nav-ham-menu {
        padding: var(--padding-xs);
    }

    .dekstop-nav-ham-menu ul {
        position: absolute;
        /*left 0 och right 0 gör så att container tar upp hela bredden*/
        left: 0;
        right: 0;
        top: 100%;

        /*Z-index 3 eftersom hero-sectionerna använder z-index 1 och 2 i sin styling*/
        z-index: 3;

        background-color: var(--grey-950);
    }

    .dekstop-nav-ham-menu li {
        /*Flex 1 gör så att alla li blir lika bredda*/
        flex: 1;
        padding: 0 var(--padding-xs);

        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);

        border-right: 1px solid var(--grey-800);
    }

    .dekstop-nav-ham-menu div {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
    }

    .desktop-nav-toggle~div {
        /*Däljer meny länkarna*/
        display: none;
    }

    .desktop-nav-toggle:checked~div {
        /*Väljer alla div-element som är general siblings (syskon på samma nivå) som 
        kommer efter checkboxen i HTML-strukturen när checkboxen är ikryssad*/
        display: block;
        /* transform: scale(1, 1); */
    }

    .desktop-nav-toggle:checked~div a {
        transition: opacity 0.25s ease 0.15s;
    }
}

/*Navigation - Desktop och större_________________________________________________________*/
@media screen and (min-width: 1200px) {

    /*Gömmer hamburgar menyn*/
    .dekstop-nav-ham-menu {
        display: none;
    }

    .dekstop-nav-bottom {
        justify-content: space-between;
    }

    .desktop-nav-links {
        display: block;
    }

    .desktop-nav-links a {
        padding: var(--padding-xs);
    }

    .desktop-nav-links a {
        display: inline-block;
    }

    .dropdown>a:hover {
        background-color: var(--grey-990);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        /*Här göms klassen dropdown-content genom display:none*/
        display: none;
        position: absolute;
        min-width: 25rem;
        background-color: var(--grey-950);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        display: block;

        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: var(--grey-990);
    }

    .dropdown:hover .dropdown-content {
        /*Om man hovrar över contanern som heter "dropdown" då kommer 
        klassen dropdown visas genom display:block*/
        display: block;
    }
}