/*mobila enheter__________________________________________________________________*/
main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

/*Här gömns innehållsförteckningen som visas på större skärmar*/
.desktop-table-of-content {
    display: none;
}

/*Sektion 1________________________________________________________________________*/

.mainContent {
    /*Den här klassen styr layouten för både sidebaren och main innehållet.
    På större skärmar byter klassen riktning på flex-direction för att lägga
    sidbaren och main innehållet bredvid varandra*/
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: 6rem;
    padding: var(--padding-xs);
}

.section-gap {
    /*Den här klassen är tillför att göra gaps INOM sektionerna*/
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

.author {
    display: flex;
    align-items: center;
    gap: var(--padding-xs);
    margin-right: 5rem;
    flex-wrap: wrap-reverse;
}

.author img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.author>div {
    display: grid;
    grid-auto-flow: row;
}

.author h3 {
    margin-top: 0;
}

.author h4 {
    margin: 0;
}

.actions {
    display: flex;
}

.actions>div {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
}

.summary {
    background-color: var(--backgroundColor);
    padding: var(--padding-xs);
    border-left: 5px solid var(--activeElement);
}

.section-mainArticle-metaInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-m);
}

.table-of-content-nav {
    border-left: var(--grey-500) solid 3px;
}

.table-of-content-nav a {
    padding-left: var(--padding-xs);
}

.mobile-table-of-content,
.mobile-table-of-content>div {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

.article-img-container img {
    width: 100%;
    object-fit: cover;
}

.article-img-container span {
    color: var(--grey-600);
}

/*Sidebar_______________________________________________________________________*/

aside {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
}

aside>:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}


/*Laptops and Desktops_________________________________________________________*/
@media screen and (min-width: 768px) {

    /*Här anpassas innehållet förstörre skärmar. Detta kommer längst ner
    för att följa mobilefirst konceptet*/

    .mainContent {
        margin-top: 14rem;
        margin-bottom: 7rem;
    }

}

/*Monitors, Desktops_________________________________________________________*/
@media screen and (min-width: 1200px) {
    .mobile-table-of-content {
        display: none;
    }

    .mainContent {
        /*anledningen till att breakpointen är här för sidebaren, är för att öka 
        läsbarheten genom att låta brödtexten ta upp mer plats på mindre skärmar*/
        flex-direction: row;
        padding-left: calc(50vw - 720px);
        padding-right: calc(50vw - 720px);
    }

    main {
        flex: 2;
    }

    aside {
        flex: 1;

        position: sticky;
        top: 15rem;
        height: fit-content;
    }

    .desktop-table-of-content,
    .desktop-table-of-content>div {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
    }

    .desktop-table-of-content {
        gap: var(--gap-s);
    }

}