/*Återkommande element - knappar_________________________________________________________*/
.primary-btn {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-s);
    border: none;
    background-color: rgb(225, 225, 225);
    font-weight: lighter;
    transition: var(--transition-fast);
}

.primary-btn:hover {
    background-color: var(--grey-400);
    color: var(--grey-900);
    transition: var(--transition-fast);
}

.secondary-btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: transparent;

    display: flex;
    align-items: center;
    gap: var(--gap-xs);

    height: fit-content;
}

.secondary-btn-icon-hover {
    /* Döljer hover ikonen som default */
    display: none;
    fill: var(--grey-700);
}

.secondary-btn:hover .secondary-btn-icon-default {
    /* Döljer default ikonen när man hovrar */
    display: none;
}

.secondary-btn:hover .secondary-btn-icon-hover {
    /* Visar hover ikonen istället */
    display: block;
}

/*Återkommande element - kort__________________________________________________________*/
.cards-container {
    /*För en gallery vy med flera kort på samma rad*/
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--gap-xs);
}

.card-outlined {
    border: 1px solid var(--grey-400);
}

.card-V1,
.card-V2 {
    background-color: var(--white);
}

.card-V1 {
    display: flex;
    flex-direction: column;
}

.card-V1-img-wrapper {
    flex: 2;
    overflow: hidden;
}

.card-V1-content {
    flex: 1;
    padding: var(--padding-xs);
}


/*Card-2 har samma properties på mindre skärmar som card-V1
men tanken är att på större skärmar ska card-V2 lägga bilden
på vänster sida, medan innehållet kommer på vänster sida*/
.card-V2 {
    display: flex;
    flex-direction: column;
}

.card-V2-img-wrapper {
    flex: 2;
    overflow: hidden;
}

.card-V2-content {
    flex: 1;
    padding: var(--padding-xs);
}

.card-V1:hover,
.card-V2:hover,
.card-outlined:hover {
    box-shadow: 0 8px 16px 0 rgba(169, 169, 169, 0.2);
    transition: 0.3s;
}

.card-V1 img,
.card-V2 img,
.card-outlined img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card-V1:hover img,
.card-V2:hover img {
    /*Väljer img elementet när användaren hovrar över kortet*/
    transform: scale(1.2);
}

@media screen and (min-width: 481px) {
    /*iPads, Tablets*/

    .card-V2 {
        flex-direction: row;
        height: 15rem;
    }

    .card-V2-img-wrapper {
        flex: 1.5;
    }

    .card-V2-content {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media screen and (min-width: 780px) {
    .card-V2 {
        height: 20rem;
    }
}

@media screen and (min-width: 1200px) {
    .card-V2 {
        height: 10rem;
    }

    .card-V2-content h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 15rem;
    }
}

/*Återkommande element - Modal________________________________________________*/

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
}

.modal-wrapper.show {
    display: block;
    display: flex;
    justify-content: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    margin-top: 10rem;

    background-color: var(--grey-50);
    padding: var(--padding-xs);
    width: fit-content;

    height: fit-content;
    width: 20rem;
}

.modal-content div {
    display: flex;
    justify-content: space-between;
}

#modal-btn-close {
    width: fit-content;
}

/*Återkommande element - input fields_______________________________________________*/
.input-field-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.input-field-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
}

/*Search*/
.search {
    width: max-content;
    display: flex;
    align-items: center;
    /* border-radius: 3rem; */
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--grey-50);
}


.search:focus-within {
    /*När någonting inom search får fokus*/
    border: 1px solid var(--grey-900);
}

.search>span {
    color: var(--grey-500);
}

input[type="search"] {
    outline: none;
    border: none;
    background: transparent;
    width: 15rem;
}

input[type="password"],
input[type="email"] {
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--grey-50);

    border: 1px solid var(--grey-400);
}

/*Återkommande element - Chip_______________________________________________*/
.chip-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--gap-xs);
    flex-wrap: wrap;
}

.chip {
    display: inline-block;
    border: 1px solid var(--grey-400);
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.chip:hover {
    border: 1px solid var(--grey-300);
    background-color: var(--grey-300);
}

/*Ikoner - sociala medier___________________________________________________________*/
.socialMedia-icons {
    font-size: var(--icon-size);
    color: var(--bodyCopyColor);
    width: fit-content;
    height: fit-content;
}

.socialMedia-icons:hover {
    color: var(--activeElement);
}

/*Dekorativa element________________________________________________________________*/
.decoration-container {
    display: flex;
    justify-content: center;

}

.decoration-container span {
    color: var(--backgroundColor);
}