/*Globala variabler_________________________________________________________________*/
:root {
    --white: #ffffff;
    --backgroundColor: #cccccc;
    --bodyCopyColor: #1b1b1bdd;
    --linkHover: #b5b5b5dd;
    --activeElement: #7a7a7add;

    --margin-xs: 2rem;

    --padding-xs: 2rem;
    --padding-s: 4rem;

    --gap-xs: 1rem;
    --gap-s: 2rem;
    --gap-m: 4rem;

    --border-radius-xs: 0.2rem;
    --border-radius-s: 2rem;

    --border-bottom: var(--white) solid 1px;

    --icon-size: 1.5rem;
}

/*Dekorativa element________________________________________________________________*/
.decoration-container {
    display: flex;
    justify-content: center;

}

.decoration-container span {
    color: var(--backgroundColor);
}

/*Element___________________________________________________________________________*/
body {
    /*margin: 0 behövs för att <body> elementets default margin är 8px, det vill säga
    det kommer att finnas en liten glap mellan fönstrets kant och elementen såsom menyn*/
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    min-width: 320px;
}

a,
p,
ul,
span,
button {
    color: var(--bodyCopyColor);
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.7rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

h1,
h2 {
    color: var(--bodyCopyColor);
}

h3 {
    text-transform: uppercase;
    color: var(--activeElement);
}

input[type="search"] {
    padding: 1rem;
    border-radius: 2rem;
    border: none;
}

input[type="search"]::before {
    content: "Read this -";
}

summary {
    list-style: none;
    margin: 0;
    line-height: 1.7rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(213, 213, 213);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

details[open] summary {
    border-bottom: none;
}

details[open] {
    border-bottom: 1px solid rgb(213, 213, 213);
}


/*Återkommande element - knappar_________________________________________________________*/
.primary-btn {
    padding: 0.5rem 2rem;
    border-radius: var(--border-radius-s);
    border: none;
    background-color: rgb(225, 225, 225);
    font-weight: lighter;
}

.secondary-btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: var(--border-radius-s);
    background-color: transparent;
}

.secondary-btn:hover,
.primary-btn:hover {
    background-color: var(--linkHover);
    color: var(--bodyCopyColor);
}

.secondary-btn:active,
.primary-btn:active {
    background-color: var(--activeElement);
    color: var(--white);
}

/*Återkommande element - kort__________________________________________________________*/
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap-xs);
}

.card {
    background-color: var(--white);
}

.card-V2 {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr
}

.card-outlined {
    background-color: var(--white);
    border: 1px solid var(--backgroundColor);
}

.card:hover,
.card-outlined:hover {
    box-shadow: 0 8px 16px 0 rgba(78, 78, 78, 0.2);
    transition: 0.3s;
}

.card img,
.card-V2 img,
.card-outlined img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p,
.card-outlined p {
    margin-top: var(--padding-xs);
}

.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-xs);
}

/*Ikoner - sociala medier___________________________________________________________*/
.socialMedia-icons {
    font-size: var(--icon-size);
    color: var(--bodyCopyColor);
    width: fit-content;
    height: fit-content;
}

.socialMedia-icons:hover {
    color: var(--activeElement);
}