/*Section - Hero _______________________________________________________________*/
main {
    /*Navbaren har fixed position vilket innebär att innehållet på sidan hamnar
    under navbaren. Pga detta ställs in margin-top med en liten ofset*/
    margin-top: 5.5rem;
}

.section-hero-container {
    display: grid;
    /*Auto-fit försöker lägga till så många element på en rad som får plats
    baserat på skärmstorleken, elementens storlek och antar element. Elementens 
    storlek styrs av minmax(). Som minst är */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: var(--padding-xs);
    padding-left: calc(50vw - 720px);
    padding-right: calc(50vw - 720px);
}

.section-hero-container img {
    /*Bilden fyller hela bredden av sin behållare (parent element)*/
    width: 100%;
    /*Bilden fyller hela höjden av sin behållare*/
    height: 100%;
    /*Bilden skalas för att täcka hela området samtidigt som dess proportioner 
    bevaras. Om bildens proportioner inte matchar behållarens proportioner 
    kommer delar av bilden att beskäras bort, men bilden blir aldrig förvräng 
    eller sträckt*/
    object-fit: cover;
}

.section-hero-container>:nth-child(1) {
    overflow: hidden;
}

.section-hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: var(--padding-xs);
    /* grid-column: span 2; */
}

/*Section - senaste nytt ____________________________________________________________*/
.section-senaste-nytt {
    background-color: var(--backgroundColor);
    padding: var(--padding-xs);
    padding-left: calc(50vw - 720px);
    padding-right: calc(50vw - 720px);
}



/*Laptops and Desktops_________________________________________________________*/
@media screen and (min-width: 768px) {
    main {
        margin-top: 11.5em;
    }
}