/*Navigation - mobila enheter_________________________________________________________*/

/*Laddar in navigationen för mobila enheter först. Följer mobile first konceptet*/
.desktop-nav {
    display: none;
}

.mobile-nav {
    /*Flexbox behövs här eftersom ett av barn elementen använder sig av
    margin-top: auto och då behövs både flexbox i kombination med height: 100vh
    enligt flera källor*/
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: var(--backgroundColor);
    position: fixed;
    width: 100%;
    top: 0%;
}

.mobile-nav> :first-child {
    display: flex;
    align-items: center;
}

.mobile-nav li {
    padding: 1rem 0rem;
}

.mobile-nav-top {
    border-bottom: var(--border-bottom);
}

.mobile-nav-top span {
    padding: 1.7rem;
}

/* .mobile-nav-top span:active,
.mobile-nav li:active,
.mobile-nav a:active {
    background-color: var(--activeElement);
    color: var(--white);
} */

.mobile-nav-top>a {
    margin-right: auto;
}

.mobile-nav-links,
.mobile-nav-btn {
    padding: var(--padding-xs);
}

.mobile-nav-btn {
    display: flex;
    justify-content: center;
    gap: var(--gap-xs);
    margin-top: auto;
}

.mobile-nav-links summary {
    /*Här skrivs över stylingen som sätts i filen generalStyles.CSS*/
    border-bottom: 1px solid var(--white);
}

.mobile-nav-links details[open] {
    /*Här skrivs över stylingen som sätts i filen generalStyles.CSS*/
    border-bottom: 1px solid var(--white);
}

.mobile-nav.menu-open {
    height: 100vh;
    overflow: scroll;
}

/* Dölja element */
.mobile-nav-links.hidden,
.mobile-nav-btn.hidden {
    display: none;
}

/*Navigation - PC/Större enheter_________________________________________________________*/

@media screen and (min-width: 768px) {
    .mobile-nav {
        /*Döljer navigationen för mobila enhter*/
        display: none;
    }

    .desktop-nav {
        /* Gör desktop navigationen synlig för större enheter */
        display: block;
        position: fixed;
        background-color: var(--white);
        width: 100%;
        top: 0%;
        /*här används z-index för att överlappa sticky sidebaren*/
        z-index: 1;
    }

    .dekstop-nav-top {
        display: flex;
        padding-left: calc(50vw - 720px);
        padding-right: calc(50vw - 720px);
    }

    .dekstop-nav-top>a {
        padding: var(--padding-xs);
        margin-right: auto;
    }

    .dekstop-nav-top>div {
        display: flex;
        gap: var(--gap-xs);
        padding: var(--padding-xs);
    }

    .dekstop-nav-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--backgroundColor);
        border-bottom: var(--border-bottom);
        padding-left: calc(50vw - 720px);
        padding-right: calc(50vw - 720px);
    }

    .dekstop-nav-bottom ul {
        display: flex;
    }

    /*    .dekstop-nav-bottom span,
    .dekstop-nav-bottom>a,
    .dekstop-nav-bottom li {
        padding: var(--padding-xs);
    } */

    .desktop-nav-links a {
        padding: var(--padding-xs);
    }

    .desktop-nav-links a {
        display: inline-block;
    }

    .dropdown>a:hover {
        background-color: var(--linkHover);
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        /*Här göms klassen dropdown-content genom displa*/
        display: none;
        position: absolute;
        min-width: 25rem;
        background-color: var(--white);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 1rem
            /* z-index: 1; */
    }

    .dropdown-content a {
        display: block;
        padding-bottom: 1rem;
    }

    .dropdown-content a:hover {
        color: rgb(138, 138, 138);
    }

    .dropdown:hover .dropdown-content {
        /*Om man hovrar över contanern som heter "dropdown" då kommer 
        klassen dropdown visas genom display:block*/
        display: block;
    }

}